<% content_for(:title, @product.name) %>

<div class="row">
  <div class="col m6">
    <div class="card">
      <div class="card-image">
        <%= image_tag @product.image, class: "resizeImg"%>

      </div>
      <div class="card-content center">
        <h3><%= @product.name %></h3>
        <h5>Cost per pound: $<%= @product.cost %> </h5>
        <h5>Country of Origin: <%= @product.country %> </h5>
      </div>
    </div>
  </div>
  <div class="col m6">
    <%= link_to image_tag("edit.png", id: "editImage"), edit_product_path(@product) %>
    <p><%= link_to "Delete Record", product_path(@product),
                             :data => {:confirm => "You sure?",
                                       :method => "delete"} %></p>

  </div>
</div>
