<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <div class="nav-wrapper indigo lighten-4">
      <a href="/" class="brand-logo left"> <%= image_tag("LOTG-Logo.gif", class: "resizeLogo") %> </a>
      <ul class="right">
        <li><a href="/products/new">Create New Product</a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
          <%= yield %>
    </div>
  </body>
</html>
